<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
<br>
<h2>User <a th:text="${user.getUsername()}"></a></h2>
<div>
    <table border="1" style="border-collapse: collapse">
        <tr>
            <th>Age</th>
            <th>Email</th>
            <th>Username</th>
            <th>Role</th>
        </tr>
            <tr th:object="${user}">
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getUsername()}"></td>
                <td th:each="role : ${user.getRoles()}" th:text="${role.getRole()}"></td>
            </tr>
    </table>
    <br>
<!--    <h4><a href="/admin">Admin</a></h4>-->
</div>
</body>

</html>